h1 {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  font-size: 4.5em;
  color: #4E4E4E;
}

h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.5em;
}

h3 {
  font-family: 'Dosis', sans-serif;
  color: #4E4E4E;
  font-weight: bold;
}

.container {
  width: 80%;
  background-color: #fff;
  margin-top: 5em;
  min-height: 100%;
}

.container-width {
  width: 80%;
  margin: auto;
}

.police-pack {
  font-family: 'Dosis', sans-serif;
  color: #252525;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#iron-man, #optimus, #walle {
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 10em;
}

.typo-pack {
  font-family: 'Anton', sans-serif;
}

.desc-pack {
  padding: 0.5em;
}

.contain-description {
  width: 70%;
  margin: auto;
  margin-top: 3.5em;
}

.style-form {
  width: 50%;
  margin: auto;
  margin-bottom: 5em;
}

.img-portfolio {
  margin: auto;
}

#codincamp a {
  color: #71B43D;
}
#codincamp a:hover {
  text-decoration: none;
  color: #3F7C10;
}

#simplonco a {
  color: #D7254E;
}
#simplonco a:hover {
  text-decoration: none;
  color: #D7254E;
}

#tarif {
  text-align: center;
  letter-spacing: 3px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0.5em;
}

#lien-pack {
  color: #333;
}

#lien-pack:hover {
  text-decoration: none;
  color: #333;
}

.form-inscription {
  width: 50%;
  margin: auto;
}
.form-inscription #asterix-red {
  color: red;
}

.menu-blog {
  margin-top: 1em;
  position: fixed;
  text-transform: uppercase;
  border-right: 1px solid #eee;
  height: 89%;
}
.menu-blog ul {
  list-style: none;
  padding: 0;
}
.menu-blog li {
  letter-spacing: 3px;
  font-size: 1em;
}
.menu-blog li a {
  display: block;
  position: relative;
  overflow: hidden;
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
}
.menu-blog li a:hover {
  background: #efefef;
}
.menu-blog li .color1 {
  border-left: 5px solid #33B8E1;
}
.menu-blog li .color2 {
  border-left: 5px solid #19DCEB;
}
.menu-blog li .color3 {
  border-left: 5px solid #21D4B0;
}
.menu-blog li .color4 {
  border-left: 5px solid #19EB85;
}
.menu-blog li .color5 {
  border-left: 5px solid #18E146;
}

#pseudo-commentaire {
  font-style: italic;
}

.titre-commentaire {
  margin-bottom: 1em;
}

.com-position {
  padding: 0;
}

.img-profil-com {
  width: 50px;
}

.position-text-com {
  margin: 0.7em 0 0 1.4em;
}

#button-commentaire {
  margin-top: 1.5em;
  float: right;
}

.style-display-article {
  margin-top: 2em;
}

.style-article {
  padding: 0 3em;
}

.separate-line {
  border-bottom: 1px solid #EEE;
  width: 80%;
  margin: 0.5em 0;
}

.img-article {
  margin: auto;
}

.articles-similaire h5 {
  font-weight: bold;
  text-align: center;
}

.border-articles {
  border-bottom: 1px solid #eee;
  width: 95%;
  margin: auto;
}

.badge-article {
  float: left;
  padding: 0.3em 1em 0.5em 1em;
  background-color: rgba(141, 242, 255, 0.3);
  width: 49.6%;
  border-radius: 5px;
  min-height: 11em;
  margin-bottom: 1em;
  margin-right: 0.5em;
}
.badge-article h5 {
  font-weight: bold;
  text-transform: uppercase;
}
.badge-article .photo-profil {
  width: 25%;
  margin-left: 0.5em;
  float: left;
  margin-right: 1em;
}
.badge-article .prez-text {
  float: left;
}
.badge-article .reseaux-sociaux {
  width: 10%;
  float: left;
}

.part-sociaux {
  float: left;
  padding: 0.3em 1em 0.5em 1em;
  background-color: rgba(141, 242, 255, 0.2);
  width: 49.6%;
  border-radius: 5px;
  min-height: 11em;
  margin-bottom: 1em;
}
.part-sociaux h5 {
  font-weight: bold;
  text-transform: uppercase;
}
.part-sociaux .reseaux-sociaux {
  width: 6%;
  float: left;
}
.part-sociaux .div-star {
  padding-left: 1em;
}
.part-sociaux .div-star i {
  font-size: 1.3em;
}

.art-simi {
  float: left;
  padding: 0.3em 1em 0.5em 1em;
  background-color: rgba(141, 242, 255, 0.2);
  width: 49.6%;
  border-radius: 5px;
  min-height: 11em;
  margin-top: -0.5em;
  margin-bottom: 1em;
  margin-right: 0.5em;
}
.art-simi h5 {
  font-weight: bold;
  text-transform: uppercase;
}
.art-simi ul li {
  list-style-image: url(../img/fleche.png);
}

.flashquest {
  float: left;
  padding: 0.3em 1em 0.5em 1em;
  background-color: rgba(141, 242, 255, 0.3);
  width: 49.6%;
  border-radius: 5px;
  min-height: 11em;
  margin-bottom: 1em;
  margin-top: -0.5em;
}
.flashquest h5 {
  font-weight: bold;
  text-transform: uppercase;
}
.flashquest ul li {
  list-style-image: url(../img/fleche.png);
}

.commentaires {
  background-color: rgba(141, 242, 255, 0.2);
  border-radius: 5px;
  min-height: 11em;
  padding: 0.3em 1em 0.5em 1em;
  margin-top: -0.5em;
}
.commentaires h5 {
  font-weight: bold;
  text-transform: uppercase;
}

.mini-badge {
  float: left;
  background-color: rgba(141, 242, 255, 0.2);
  border-radius: 5px;
  padding: 0.3em 1em 0.5em 1em;
  margin-top: 0.5em;
  width: 35%;
  min-height: 6em;
}
.mini-badge h5 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
}
.mini-badge .photo-profil {
  width: 20%;
  float: left;
  margin-top: 0.3em;
  margin-right: 0.3em;
}
.mini-badge .prez-text {
  float: left;
}
.mini-badge .prez-text p {
  font-size: 0.8em;
}

.reponse {
  float: left;
  background-color: rgba(141, 242, 255, 0.2);
  border-radius: 5px;
  padding: 0.3em 1em 0.5em 1em;
  margin-top: 0.5em;
  width: 64.2%;
  min-height: 6em;
  margin-left: 0.5em;
}
.reponse p {
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .badge-article {
    width: 100%;
  }

  .part-sociaux {
    width: 100%;
  }

  .art-simi {
    width: 100%;
  }

  .flashquest {
    width: 100%;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }

  #desc-1 {
    font-size: 0.9em;
  }

  .contain-description {
    width: 100%;
    margin-top: 0;
  }

  h3 {
    font-size: 1.3em;
  }

  footer {
    font-size: 0.7em;
  }

  .style-form {
    width: 100%;
  }

  .div-pack {
    margin: 0.5em 0;
  }

  .menu-blog {
    display: none;
  }

  .articles-similaire h5 {
    text-align: center;
    font-weight: bold;
    /* text-transform: uppercase; */
  }
  .articles-similaire p {
    display: none;
  }
}
html, body {
  height: 100%;
}

body {
  font-family: 'Dosis', sans-serif;
  background: url(../img/background.png) fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  letter-spacing: 2px;
}

a:hover {
  text-decoration: none;
}

#asterix-red {
  color: red;
}

nav {
  text-align: center;
}
nav li {
  display: inline-block;
  margin: 0 1em;
}
nav a {
  letter-spacing: 3px;
}
nav a:hover {
  text-decoration: none;
}

#info {
  letter-spacing: 3px;
  font-style: italic;
}

#lien-1 {
  color: #7CA4AC;
}

#lien-1:hover {
  text-decoration: none;
  color: #6E8286;
}

#desc-1 {
  margin-top: -0.6em;
  font-style: italic;
}

.div-pack {
  border: 1px solid #D6D6D6;
  border-radius: 3px;
}

label {
  text-align: center;
}

#esp {
  text-align: right;
}
#esp a {
  color: red;
  font-style: italic;
  margin-bottom: 0.5em;
  letter-spacing: 3px;
}
#esp a:hover {
  text-decoration: none;
  color: red;
}

#footer {
  letter-spacing: 3px;
  margin-top: 5em;
}

.mentions-legal {
  width: 70%;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
