.style-display-article {
	margin-top: 2em;
}

.style-article {
	padding: 0 3em;
}

.separate-line {
	border-bottom: 1px solid #EEE;
	width: 80%;
	margin: 0.5em 0;
}

.img-article {
	margin: auto;
}

.articles-similaire {
	h5 {
		font-weight: bold;
		text-align: center;
	}
}

.border-articles {
	border-bottom: 1px solid #eee;
	width: 95%;
	margin: auto;
}

.badge-article {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: rgba(141, 242, 255, 0.3);
	width: 50%;
	border-radius: 5px;
	min-height: 8em;
	margin-bottom: 1em;
	.photo-profil {
		width: 25%;
		margin-left: 0.5em;
		float: left;
		margin-right: 1em;
	}
	.prez-text {
		float: left;
	}
	.reseaux-sociaux {
		width: 10%;
		float: left;
	}
}