.style-display-article {
	margin-top: 2em;
}

.style-article {
	padding: 0 3em;
}

.separate-line {
	border-bottom: 1px solid #EEE;
	width: 80%;
	margin: 0.5em 0;
}

.img-article {
	margin: auto;
}