#pseudo-commentaire {
	font-style: italic;
}

.titre-commentaire {
	margin-bottom: 1em;
}

.com-position {
	padding: 0;
}

.img-profil-com {
	width: 50px;
}

.position-text-com {
	margin: 0.7em 0 0 1.4em;
}

#button-commentaire {
	margin-top: 1.5em;
	float: right;
}