h1 {
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	font-size: 4.5em;
	color: #4E4E4E;
}
h2 {
	font-family: 'Dosis', sans-serif;
	font-size: 1.5em;
}

h3 {
	font-family: 'Dosis', sans-serif;
	color: #4E4E4E;
	font-weight: bold;
}